@model AttendanceCMS.Bll.ViewModels.ChildModel.Admin.ClientVM
@{
    ViewBag.Title = "Client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/theme-assets/assets/pages/jquery.filer/css/themes/jquery.filer-dragdropbox-theme.css" rel="stylesheet" />
<link href="~/Content/theme-assets/assets/pages/jquery.filer/css/jquery.filer.css" rel="stylesheet" />
<style>
    .textarea {
        height: 130px;
    }
</style>
<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-header start -->
            <div class="page-header">
                <div class="row align-items-end">
                    <div class="col-lg-8">
                        <div class="page-header-title">
                            <div class="d-inline">
                                <h4>Client Registration</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="page-header-breadcrumb">
                            <ul class="breadcrumb-title">
                                <li class="breadcrumb-item">
                                    <a href="index-1.htm"> <i class="feather icon-home"></i> </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">Admin</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">Client</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            @using (Html.BeginForm("Client", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.AppId);

                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">

                            <!-- Input Grid card start -->
                            <div class="card">

                                <div class="card-block">
                                    <h4 class="sub-title">Add Client</h4>
                                    <form>
                                        <div class="form-group row">
                                            <div class="col-sm-6">
                                                <label class="col-form-label">Name</label>
                                                @Html.TextBoxFor(model => model.AppName, new { @class = "form-control", required = "required", placeholder = "Name Here", type = "text" })
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="col-form-label">Name Marathi</label>
                                                @Html.TextBoxFor(model => model.AppName_mar, new { @class = "form-control", required = "required", placeholder = "Name Marathi", type = "text" })
                                            </div>

                                            <div class="col-sm-6">
                                                @Html.LabelFor(m => m.State, new { @class = "col-form-label" })
                                                @Html.DropDownListFor(model => model.State, Model.StateList, new { @class = "form-control", required = "required" })
                                                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="col-sm-6">
                                                @Html.LabelFor(m => m.District, new { @class = "col-form-label" })
                                                @Html.DropDownListFor(model => model.District, Model.DistrictList, new { @class = "form-control", required = "required" })
                                                @Html.ValidationMessageFor(model => model.District, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="col-sm-6">
                                                @Html.LabelFor(m => m.Tehsil, new { @class = "col-form-label" })
                                                @Html.DropDownListFor(model => model.Tehsil, Model.TehsilList, new { @class = "form-control", required = "required" })
                                                @Html.ValidationMessageFor(model => model.Tehsil, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="col-sm-6">
                                                <label class="col-form-label">Email Id</label>
                                                @Html.TextBoxFor(model => model.EmailId, new { @class = "form-control", required = "required", placeholder = "Email Id", type = "text" })
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="col-form-label">Website</label>
                                                @Html.TextBoxFor(model => model.website, new { @class = "form-control", required = "required", placeholder = "Website Here", type = "text" })
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="col-form-label">Base Image Url CMS</label>
                                                @Html.TextBoxFor(model => model.baseImageUrlCMS, new { @class = "form-control", required = "required", placeholder = "Base Image Url CMS", type = "text" })
                                            </div>

                                            <div class="col-sm-6">
                                                <label class="col-form-label">Base Image Url</label>
                                                @Html.TextBoxFor(model => model.baseImageUrl, new { @class = "form-control", required = "required", placeholder = "Base Image Url", type = "text" })
                                            </div>

                                            <div class="col-sm-6">
                                                <label class="col-form-label">Base Path</label>
                                                @Html.TextBoxFor(model => model.basePath, new { @class = "form-control", required = "required", placeholder = "Base Path", type = "text" })
                                            </div>

                                            <div class="col-sm-6">
                                                <label class="col-form-label">Latitude</label>
                                                @Html.TextBoxFor(model => model.Latitude, new { @class = "form-control", required = "required", placeholder = "Latitude", type = "text" })
                                            </div>

                                            <div class="col-sm-6">
                                                <label class="col-form-label">Longitude</label>
                                                @Html.TextBoxFor(model => model.Logitude, new { @class = "form-control", required = "required", placeholder = "Longitude", type = "text" })
                                            </div>

                                            <div class="col-sm-6">
                                                <label class="col-form-label">App Version</label>
                                                @Html.TextBoxFor(model => model.AppVersion, new { @class = "form-control", required = "required", placeholder = "App Version", type = "text" })
                                            </div>

                                            <div class="col-sm-6">
                                                @Html.LabelFor(m => m.LanguageId, new { @class = "col-form-label" })
                                                @Html.DropDownListFor(model => model.LanguageId, Model.LanguageList, new { @class = "form-control", required = "required" })
                                                @Html.ValidationMessageFor(model => model.LanguageId, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="col-sm-3">
                                                @Html.CheckBox("IsActive", new { @class = "checkbox-color checkbox-default", type = "checkbox" })
                                                <label class="col-form-label">Is Active</label>
                                            </div>

                                            <div class="col-sm-3">
                                                @Html.CheckBox("ForceUpdate", new { @class = "checkbox-color checkbox-default", type = "checkbox" })
                                                <label class="col-form-label">Force Update</label>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="col-form-label">Scaniffy Code</label>
                                                    <div class="form-group textarea">
                                                        <div style="width: auto;padding: 0px;margin: 0px 10px;height: auto;">
                                                            <div id="FileUpload_Preview" style="display:inline-flex">
                                                                <a href="JavaScript:Void(0);" data-lightbox="example-1"><img src="~/Content/assets/images/QRcode.png" class="add-image" style="width:120px;height:auto;padding:2px;overflow:hidden"  @*src="@Model.QrCode"*@/></a>

                                                                <input type="file" name="file" id="file" onchange="show(this)">

                                                                <div class="ImageUpload">
                                                                    <label for="FileInput1">
                                                                        <img src="~/Content/assets/images/QRcode.png" style="width: 18px; margin-top: -316px; margin-left: 900px;" />
                                                                    </label>

                                                                    <input id="FileInput1" type="file" onchange="readURL(this,'Picture')" style="cursor: pointer;"  @*display: none"*@ />
                                                                </div></div>
                                                        </div>
                                                    </div>
                                                    <div class="">
                                                        <div class="form-group" style="margin-top:-25px;">

                                                            <input class="btn btn-sm btn-primary m-b-0" type="button" id="QRCOdeGenrate" value="Generate QR Code" />

                                                            <div class="progress" id="prog_bar" style="margin-top:10px;width: 57%;background-color:#dd8680; display:none;">
                                                                <div id="myBar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="background-color:#349B98;width:50%">
                                                                    50%
                                                                </div>
                                                            </div>


                                                            <span class="text-danger" id="err_img"></span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-sm-2">
                                                <input class="form-control" @*type="hidden"*@ @*value="2020"*@ value="@ViewBag.ReferenceID" id="n" readonly="readonly" />
                                            </div>

                                        </div>

                                        <div class="col-sm-12">
                                            <br />
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                            <a href="ClientList" type="button" class="btn btn-primary">Cancel</a>
                                        </div>

                                    </form>
                                </div>
                            </div>
                            <!-- Input Grid card end -->
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
    <!-- Main-body end -->
</div>


<script src="~/Content/theme-assets/assets/pages/jquery.filer/js/jquery.filer.min.js"></script>
<script src="~/Content/theme-assets/assets/pages/filer/custom-filer.js"></script>
<script src="~/Content/theme-assets/assets/pages/filer/jquery.fileuploads.init.js"></script>

<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
</script>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script type="text/javascript">

    function show(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#user_img').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }


    $("#QRCOdeGenrate").click(function () {
        //$("#err_generate").html("स्कॅनिफाय कोड व्युत्पन्न करा नंतर सेव करा / Generate Scaniffy code then save").delay(1).show().fadeOut('slow');
        $("#err_generate").html("Generate Scaniffy code then save").delay(1).show().fadeOut('slow');
        $('#prog_bar').css("display", "block");
        $("#prog_bar").delay(3000).show().fadeOut('slow');

        //genrate QRCode image
        var a = $('#n').val();
        if (a != null && a != "") {
            var src_qr = 'https://api.qrserver.com/v1/create-qr-code/?data=' + a

            $("#FileUpload_Preview img").attr("src", src_qr);
            $("input #filesUpload").attr("src", src_qr);
            $("input #file").attr("src", src_qr);


            // alert($("#FileUpload_Preview img").attr('src'));
            // cpde end
            $('#btnSubmit').prop('disabled', false);
            move();
        }


        $("#houseOwner").change(function () {
            //   alert("Sdsadsa");
            //$("#FileUpload_Preview img").attr('src') === "/Images/QRcode.png";
            $("#FileUpload_Preview img").attr("src", "/Images/QRcode.png");
            $("input #filesUpload").attr("src", "/Images/QRcode.png");
            $('#Download1').hide();
            $('#send_link').hide();
            return false;
        });

        $("#houseNumber").change(function () {
            //$("#FileUpload_Preview img").attr('src') === "/Images/QRcode.png";
            $("#FileUpload_Preview img").attr("src", "/Images/QRcode.png");
            $("input #filesUpload").attr("src", "/Images/QRcode.png");
            $('#Download1').hide();
            $('#send_link').hide();
            return false;
        });

    });

    function move() {
        var elem = document.getElementById("myBar");
        var width = 40;
        var id = setInterval(frame, 10);
        function frame() {
            if (width >= 100) {
                clearInterval(id);
            } else {
                width++;
                elem.style.width = width + '%';
                elem.innerHTML = width * 1 + '%';
            }
        }
    }
</script>

